
@model FossTechCrm.Entities.Product

@if (Model != null)
{





<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
            @if (Model.Id > 0)
            {

                <span>Edit Product</span>
            }
            else
            {
                <span>Create Product</span>
            }

        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form id="formAction">
        <div class="form-row ml-4 mr-4">
            <input type="hidden" name="Id" value="@Model.Id" />

            <div class="form-group col-md-4">
                <label for="First Name">Product Name</label>
                <input class="form-control" name="ProductName"  value="@Model.ProductName">
            </div>
            <div class="form-group col-md-4">
                <label for="Company Name">Product Category Name</label>
                <input class="form-control" name="ProductCategory"  value="@Model.ProductCategory">
            </div>
            <div class="form-group col-md-4">
                <label for=" Phone">VendorName</label>
                <input class="form-control" name="VendorName"  value="@Model.VendorName">
            </div>
        </div>
        <div class="form-row ml-4 mr-4">

            <div class="form-group col-md-4">
                <label for="inputPassword4">Manufacturer</label>
                <input class="form-control" name="Manufacturer" value="@Model.Manufacturer">
            </div>
            <div class="form-group col-md-4">
                <label for="First Name">SalesEndDate</label>
                <input class="form-control" name="SalesEndDate"  valu=@Model.SalesEndDate>
            </div>

            <div class="form-group col-md-4">
                <label for="Status">SalesStartDate </label>
                <input class="form-control" name="SalesStartDate" value=@Model.SalesStartDate>
            </div>
        </div>
        <div class="form-row ml-4 mr-4">

            <div class="form-group col-md-4">
                <label for="First Name">UnitPrice</label>
                <input class="form-control" name="UnitPrice" placeholder="Rating" valu=@Model.UnitPrice>
            </div>
            <div class="form-group col-md-4">
                <label for="Status">Tax </label>
                <input class="form-control" name="Tax" placeholder="Status" value=@Model.Tax>
            </div>
            <div class="form-group col-md-4">
                <label for="First Name">SupportStartDate</label>
                <input class="form-control" name="SupportStartDate" id="datepicker" valu=@Model.SupportStartDate>
            </div>
        </div>
        <div class="form-row ml-4 mr-4">
            <div class="form-group col-md-4">
                <label for="Status">SupportEndDate </label>
                <input class="form-control" name="SupportEndDate" id="datepicker" value=@Model.SupportEndDate>
            </div>
            <div class="form-group col-md-3">
                <label for="First Name">Unit</label>
                <input class="form-control" name="Unit"  valu=@Model.Unit>
            </div>
            <div class="form-group col-md-3">
                <label for="Status">IsStock </label>

                <div class="form-check">
                    <input class="form-check-input" name="IsStock" type="checkbox" value="@Model.IsStock" id="defaultCheck1">

                </div>
            </div>

        </div>
        <div class="form-row ml-4 mr-4">
            <div class="form-group col-md-4">
                <label for="First Name">IsActive</label>

                <div class="form-check">
                    <input class="form-check-input" name="IsActive" type="checkbox"  value=@Model.IsActive id="defaultCheck1">

                </div>
            </div>

            <div class="form-group col-md-4">
                <label for="Status">Hsn </label>
                <input class="form-control" name="HSNCode"  value=@Model.HSNCode>
            </div>
            <div class="form-group col-md-4">
                <label for="Status">Description </label>
                <textarea class="form-control" rows="5" name="Description"  value=@Model.Description> </textarea>
            </div>
        </div>


      


    </form>

    <div class="errorDiv"></div>
    <div class="modal-footer">
        <buttond type="button" class="btn btn-secondary" data-dismiss="modal">Close</buttond>
        <button id="ActionButton" type="button" class="btn btn-primary">Save changes</button>
    </div>
</div>
   



}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $("#ActionButton").click(function () {
         $.ajax({
             url: '@Url.Action("Action","Product")',
             type: "post",
             data: $("#formAction").serialize()
        })
            .done(function
                (response) {
                debugger;
                if (response.Success) {
                    location.reload();

                }
                else {
                    $(".errorDiv").html(response.Message);
                }
            })
    })
</script>
<script>
    $(function () {
        $("#datepicker").datepicker({
            altFormat: "yy-mm-dd"
        });
    });
</script>
