
@model FossTechCrm.Entities.Customer
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@if (Model != null)
{
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                @if (Model.Id > 0)
                {

                    <span>Edit Customer</span>
                }
                else
                {
                    <span>Create Customer</span>
                }

            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="formAction">
                <div class="form-row">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <div class="form-group col-md-6">
                        <label for="First Name">First Name</label>
                        <input class="form-control" name="FirstName"  value="@Model.FirstName">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Company Name">Last Name</label>
                        <input class="form-control" name="LastName"  value="@Model.LastName">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for=" Phone">Phone</label>
                        <input class="form-control" name="Phone"  value="@Model.Phone">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Email</label>
                        <input class="form-control" name="Email"  value="@Model.Email">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="First Name">Date</label>
                        <input class="form-control" name="Date" id="datepicker"  valu=@Model.Date>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Status">Company </label>
                        <input class="form-control" name="Company"  value=@Model.Company>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="First Name">State</label>
                        <input class="form-control" name="State"  valu=@Model.State>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Status">City </label>
                        <input class="form-control" name="City"  value=@Model.City>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="First Name">Street</label>
                        <input class="form-control" name="Street"  valu=@Model.Street>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Status">Zip </label>
                        <input class="form-control" name="Zip"  value=@Model.Zip>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="Ratings, ">Description </label>
                        <input class="form-control" name="Description"  value=@Model.Description>
                    </div>

                </div>



            </form>
            <div class="errorDiv"></div>
        </div>
        <div class="modal-footer">
            <buttond type="button" class="btn btn-secondary" data-dismiss="modal">Close</buttond>
            <button id="ActionButton" type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $("#ActionButton").click(function () {
         $.ajax({
             url: '@Url.Action("Action","Customer")',
             type: "post",
             data: $("#formAction").serialize()
        })
            .done(function
                (response) {
                debugger;
                if (response.Success) {
                    location.reload();

                }
                else {
                    $(".errorDiv").html(response.Message);
                }
            })
    })
</script>
<script>
    $(function () {
        $("#datepicker").datepicker({
            altFormat: "yy-mm-dd"
        });
    });
</script>