@model FossTechCrm.Entities.Order

<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Customers</h4>
                   <a href="/Orders/Index" class="btn btn-info">Back to Page</a>
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Customer Name : @Model.Customer.Company </td>
                            @*<td>Address : @item.Address </td>*@
                            <td>Order Date : @Model.Date</td>
                            <td>Address:@Model.Customer.Street</td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Unit Price</th>
                                            <th>Total</th>
                                        </tr>
                                        @{
                                            decimal totalBill = 0;
                                        }
                                        @foreach (var product in Model.Products)
                                        {
                                            <tr>
                                                <td>@product.Product.ProductName</td>
                                                <td>@product.Qty</td>
                                                <td>@product.Product.UnitPrice</td>
                                                <td>@(product.Product.UnitPrice * product.Qty)</td>
                                            </tr>
                                            totalBill += (product.Product.UnitPrice * product.Qty);
                                        }



                                    </tbody>
                                </table>
                                <span class="pull-right" style="margin-right:100px;"><strong>Total Bill :  </strong> @totalBill</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>



